{% load sass_tags %}

<!DOCTYPE html>
<html {% if amp %}⚡ {% endif %}lang="en-US" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8"/>
		{% if amp %}
			<script async src="https://cdn.ampproject.org/v0.js"></script>
			<link rel="canonical" href="{{ canonical_url }}">
			<!-- Yummy AMP boilerplate -->
			<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
			<style>{{ style_content | safe }}</style>
		{% else %}
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109571230-1"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'UA-109571230-1');
			</script>
			<link href="{% sass_src 'scss/site.scss' %}" type="text/css" rel="stylesheet">
			<link rel="amphtml" href="{{ amp_url }}">
		{% endif %}
		<link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
		<title>{% block title %}{% endblock %} Blog.</title>
		<!-- Color used in Chrome for Android -->
		<meta name="theme-color" content="#808080">
		<!-- It's responsive, yo -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<!-- stylesheets -->
		<link href='https://fonts.googleapis.com/css?family=Khand:400,600' rel='stylesheet' type='text/css'>
		<!-- begin SEO stuff -->
		<meta property="og:url" content="https://sha.wn.zone{{ request.get_full_path }}" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:site_name" content="sha.wn.zone" />
		<meta property="fb:app_id" content="2021111818111122" />
		{% block additional_seo %}{% endblock %}
		<!-- end SEO stuff -->
	</head>
	<body>
		<header>
			<h1><a href="/">Blog.</a></h1>
			<h2>A blog where I talk about code things.</h2>
		</header>
		<div class="main-container">
			<div class="content-col">
				{% block main_content %}
				{% endblock %}
			</div>
			<aside class="sidebar-col">
				<div class="sidebar-outline">
					<div class="sidebar-content">
						<h2 id="about">About</h2>
						<p>This is a blog I made to talk about programming type things that I find or write. If you find the stuff here interesting, feel free to  shoot me an email at <a href="mailto:sh@wn.zone">sh@wn.zone</a> or take a look at <a href="https://karmeleon.github.io/assets/resume.html">my resumé</a> or <a href="https://www.linkedin.com/in/shawn-walton-7582838a/">LinkedIn</a>! There are a few older things on <a href="https://github.com/karmeleon">my Github</a> that I haven’t written about, so you might as well go check that out too.</p>
						<hr>
						<h2>Links</h2>
						<ul>
						<li><a href="https://play.google.com/store/apps/details?id=com.karmeleon.battmon">Android Wear battery monitor (Battmon)</a></li>
						<li><a href="https://karmeleon.github.io/WGL-fractal/">WebGL Mandelbrot set viewer</a></li>
						<li><a href="https://github.com/karmeleon/Pbrot/">OpenMP/OpenCL Buddhabrot set generator</a></li>
						<li><a href="https://github.com/karmeleon/ImageRecognitionCUDA">CUDA object recognition trainer</a></li>
						</ul>
					</div>
				</div>
			</aside>
		</div>
	</body>
</html>